<div class="hero-unit">
  <% if (user) { %>
    <strong>IF LOGGED IN SHOW :</strong>
  <% } %>
  <p><a href="/logout">Click here to log back out.</a></p>
  <%- linkTo('Create a new Piece', addPiecePath, {class: 'btn pull-right'}); %>
</div>

<div class="home">
  <img src="img/bkg.main.png" alt="I'm Matt Gordon" />
  <div class="section-title">
    <h1>Hello. I'm Matthew Gordon!</h1>
    <h2>I’m an Interactive Developer.</h2>
    <p>It’s very nice to meet you.</p>
  </div>
</div>
<div class="work">
<h2>{ Work }</h2>
<p class="info">Welcome to the area you were looking for (probably). The area to look at to see what and how I do.</p>
<ul>
  <% if (pieces) { %>
  <% for (var i = 0, ii = pieces.length; i < ii; i++) { %>
    <li>
      <div class="image">
        <img src='uploads/<%- pieces[i].picture; %>' />
      </div>
      <div class="description">
        <h3><%- pieces[i].title; %></h3>
        <p><%- pieces[i].description; %></p>
      </div>
    </li>
  <% } %>
<% } %>
</ul>
</div>
<div class="brew">  
  <h2>{ Brew }</h2>
  <p class="info">Ah, beer. Beverage whos history is as rich as the malty grains that produce it. About 2 years ago I took up homebrewing in an effort to create my own craft beers. The results have been generally positive.</p>
  <h3>Currently Brewing</h3>
  <p>Berliner Weisse<p>
  <p><strong>Due:</strong> soon. I hope.</p>
  <h3>Kegorator</h3>
  <p>I hope to fill this section with statistics on my kegorator. Still working on that.</p>
</div>
<div class="about">
  <h2>{ About }</h2>
  <p class="info">Welcome to the page where I talk about my history. Some people might call this an About Me page, or a self edited wikipedia page. Either way, you're about to learn a lot of infomation you could probably care less about so brace yourself and I'll try to keep this short.</p>
  <p>I was born in Fredonia, NY, a small town in upstate who wins the Guiness World Record for moer escaping, I ast bars per-capita. I wrote my first "Hello World" in C while in the 4th grade and my first full on website in 5th. Attended college and achieved a Bachelor's degree in New Media Interactive Development from Rochester Institute of Technology in 2010.</p>
  <p>After College, I moved to Colorado where I worked at Cripsin Porter and Bogusky til now.</p>
</div>