<!DOCTYPE html>
<!--[if IE 7 ]><html lang="en" class="ie7 no-js"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 no-js"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">

    <link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/app/main.css" />
    
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li class="home"><a href="#">Home</a><span></span></li>
        <li class="work"><a href="#">Work</a><span></span></li>
        <li class="brew"><a href="#">Brew</a><span></span></li>
        <li class="about"><a href="#">About</a><span></span></li>
      </ul>
    </div>
    <div id="main-container">
      <%- yield(); %>
    </div>
  </body>
</html> 
